.HomePage {

    .Buizel {
        position: absolute;
        top: 225px;
        left: 25%;
        width: 1000px;
    }

    .Header {
        position: absolute;
        top: 80px;
        left: calc(5%);

        font-size: 30px;
        color: black;

    }

}