body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100vw;
  height: 100vh;
  background-color: white;
}