body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.Header {
  position: absolute;
  top: calc(0% + 30px);
  left: calc(0% + 30px);

  font-size: 30px;
  font-family: Cambria;
  text-align: center;
  color: black;
}

.Links {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 200px;
  position: absolute;
  top: calc(0% + 10px);
  left: calc(0% + 30px);
}

.Buizel {
  position: absolute;
  top: calc(100% - 700px);
  left: 25%;
  width: 1000px;
}