.TopBar {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgb(72, 133, 72);
}

.Logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

.NavBar {
    width: 290px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: calc(42%);
    top: 14px;
    text-align: center;

    font-size: 16px;

    .HomeButton,
    .AboutButton,
    .ProjectsButton {
        width: 80px;
        height: 38px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(88, 88, 88);

        background-color: rgb(186, 219, 186);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 200px;
    position: absolute;
    top: 20px;
    left: calc(70% + 30px);
}

.NavBar a,
.Links a {
    text-decoration: none;
    color: inherit;
}

.AboutButton a:hover,
.HomeButton a:hover,
.ProjectsButton a:hover {
    width: 80px;
    height: 38px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(88, 88, 88);
    background-color: rgb(228, 255, 234);

    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactInfo {
    position: absolute;
    top: 20px;
    left: calc(80%);
    text-decoration: none;
}

.Links a:hover {
    text-decoration: underline;
}